body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/img/b1.png') no-repeat center center fixed;
    background-size: cover;
    color: #000000;
}
header{
    background-color: rgba(0,0,0,0.7);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
.container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
}

.image-grid a {
    display: block;
    position: relative;
    border: 2px solid #fff;
    overflow: hidden;
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.image-grid a:hover img {
    transform: scale(1.1);
}

.image-grid span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
}
